.nav {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    padding: 20px;
    height: 30px;
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition: all 1s;
    color: white;
}

.nav__image {
    width: 100px;
}

.nav__left {
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style: none;
    justify-content: space-between;
    font-weight: 300;
    cursor: pointer;
    font-size: 0.9rem;
}

.nav__black {
    background-color: #111;
}

.nav__logo {
    object-fit: contain;
    position: fixed;
    left: 20px;
    width: 80px;
    cursor: pointer;
}

.nav__avatar {
    width: 30px;
    object-fit: contain;
    position: fixed;
    right: 20px;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .nav__left {
        display: none;
    }
}